
doctype 5
html
  head
    title @test
    script(src='./bower_components/handlebars/handlebars.runtime.js')
    script(src='./bower_components/jade/runtime.js')
    script(src='./jade/template.js')
    script(src='./handlebars/template.js')
    script(src='./lib/main.js')